.buttonss{
    display: flex;
}
.categoriesbutton{
    background-color:rgb(0, 0, 0);
    color: #c8c8c8;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: 'Cinzel', serif;
}
@media(max-width:550px){
    .btnn{
        padding-left: 4rem;
    }
}